<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../warp-api/warp-api.html">

<polymer-element name="warp-bot-scanbot" attributes="endpoint">
	<template>
		<link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
      polyfill-next-selector { content: ':host .hidden'; }
      ::content .hidden {
        display: none;
      }
    </style>
		<warp-api id="api" endpoint="{{endpoint}}"
      on-warp-action="{{_warpActionHandler}}">
    </warp-api>

			<div class="panel panel-default">
	      <div class="panel-heading">
	        <h3 class="panel-title"><i class="fa fa-bullseye"></i> ScanBot</h3>
	      </div>
        <div class="panel-body">
          <div class="row ">
            <div class="col-md-12">
              <div class="alert {{ {hidden: alert.hidden} | tokenList }} alert-{{alert.type}}">
                {{alert.message}}
              </div>
            </div>
          </div>
        </div>
        <ul class="list-group">
          <template repeat="{{bot in bots}}">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-12">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{bot.integrity}}" aria-valuemin="0" aria-valuemax="60" style="width: {{bot.integrity}}%">
                    HP {{bot.integrity}}%
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <i class="fa fa-shield"></i> {{bot.armoring}}
                </div>
                <div class="col-md-3">
                  {{bot.cpus}} Core
                </div>
                <div class="col-md-3">
                  {{bot.ram}}Mo
                </div>
                <div class="col-md-3">
                  <button class="btn btn-danger btn-xs btn-block"><i class="fa fa-rocket"></i></button>
                </div>
              </div>
            </li>
          </template>
        </ul>
		</div>
	</template>
	<script>
    Polymer({

      ready: function() {
        this.endpoint = '';
        this.nbBot = 0;
        this.bots = [];
        this.alert = {
          hidden: true,
          type: 'info',
          message: ''
        };

      },

      domReady: function() {
      	var self = this;
      },

      ScanBotClickHandler: function(event, detail, sender) {
        var self = this;

        this.$.api.doAction("scanbot", function(err, res) {
          if (err) {
            self.alert.message = err.error.message;
            self.alert.type = 'danger';
            self.alert.hidden = false;
          }
        });
      },

      _warpActionHandler: function(evt, data) {
        var self = this;
        if (data.action == "scanbot") {
          self.alert.message = data.results.bots.length + " bot(s) trouvé.";
          self.alert.hidden = false;
          self.bots = data.results.bots;
        } else {
          self.bots = [];
          self.alert.message = '';
          self.alert.hidden = true;
        }
      }

    });
  </script>
</polymer-element>
