<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../warp-api/warp-api.html">

<polymer-element name="warp-cooldowns-resume" attributes="endpoint">
	<template>
		<link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
      polyfill-next-selector { content: ':host .hidden'; }
      ::content .hidden {
        display: none;
      }
    </style>
		<warp-api id="api" endpoint="{{endpoint}}"></warp-api>

		<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-clock-o"></i> Cooldowns</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <template repeat="{{s in CDs}}">
            <div class="row">
              <div class="col-sm-12">
                {{s.k}}
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{s.v}}" aria-valuemin="0" aria-valuemax="60" style="width: {{s.v}}%">
                  {{s.p}}
                  </div>
                </div>
              </div>
            </div>
          </template>
        </form>
      </div>
    </div>
	</template>
	<script>
    Polymer({
    	
    	endpoint: '',
      interval: 60*1000, // Toutes les 10min

      // bot stats
      CDs: [],

    	ready: function() {
        setInterval(this.fetchCD.bind(this), this.interval);
      },

      fetchCD: function() {
        var self = this;
        var today = new Date();

        this.$.api.getResumeBot(function(err, res) {
        	if(res) {
            self.CDs = Object.keys(res.cooldowns).map(function(key) {
            	var timeEndCD = new Date(res.cooldowns[key].next_time_available);
              var totalTime = ((timeEndCD.getTime() - today.getTime()) > 0) ? timeEndCD.getTime() - today.getTime() : 0;
            	if (totalTime > 0) {
                var percent = ((totalTime / 60000) * 100).toFixed(0);
                var time_left = (totalTime / 1000).toFixed(0) + 's';

            		return {k: res.cooldowns[key].action, v: percent, p: time_left};
            	}
            });
          }
      	});
      }
    });
  </script>
</polymer-element>