<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../warp-api/warp-api.html">

<polymer-element name="warp-bot-resume" attributes="endpoint">
	<template>
		<link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
      polyfill-next-selector { content: ':host .hidden'; }
      ::content .hidden {
        display: none;
      }
    </style>
		<warp-api id="api" endpoint="{{endpoint}}"
			on-warp-login={{_warpLoginHandler}}>
		</warp-api>

		<div class="panel panel-default">
	      <div class="panel-heading">
	        <h3 class="panel-title"><i class="fa fa-cog"></i> Bot resume</h3>
	      </div>
	      <div class="panel-body">

          <div class="row">
            <div class="col-sm-12">
            	<div class="progress">
							  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{integrity}}" aria-valuemin="0" aria-valuemax="100" style="width: {{integrity}}%">
							    HP {{integrity}}%
							  </div>
							</div>
            </div>
          </div>

          <div class="row">
          	<div class="col-md-4">
          		<div class="panel panel-default">
          			<div class="panel-body text-center">
          				<strong>{{armory}}</strong>
          			</div>
          			<div class="panel-footer text-center">
          				<small>Blindage</small>
          			</div>
          		</div>
          	</div>
          	<div class="col-md-4">
          		<div class="panel panel-default">
          			<div class="panel-body text-center">
          				<strong>{{cpus}}</strong>
          			</div>
          			<div class="panel-footer text-center">
          				<small>CPUs</small>
          			</div>
          		</div>
          	</div>
          	<div class="col-md-4">
          		<div class="panel panel-default">
          			<div class="panel-body text-center">
          				<strong>{{ram}}</strong>
          			</div>
          			<div class="panel-footer text-center">
          				<small>RAM (Mo)</small>
          			</div>
          		</div>
          	</div>
          	<div class="col-md-4">
          		<div class="panel panel-default">
          			<div class="panel-body text-center">
          				<strong>{{maxSlots}}</strong>
          			</div>
          			<div class="panel-footer text-center">
          				<small>Slots</small>
          			</div>
          		</div>
          	</div>
          	<div class="col-md-4">
          		<div class="panel panel-default">
          			<div class="panel-body text-center">
          				<strong>{{maxCargo}}</strong>
          			</div>
          			<div class="panel-footer text-center">
          				<small>Cargaison</small>
          			</div>
          		</div>
          	</div>
          	<div class="col-md-4">
          		<div class="panel panel-default">
          			<div class="panel-body text-center">
          				<strong>{{maxActions}}</strong>
          			</div>
          			<div class="panel-footer text-center">
          				<small>Actions</small>
          			</div>
          		</div>
          	</div>
          </div>
	      </div>
	    </div>
	</template>
	<script>
    Polymer({

    	endpoint: '',
      interval: 30*1000, // Toutes les 30s (developpement)

      // bot stats
      integrity: 0,
      maxActions: 0,
      cpus: 0,
      hp: 0,
      maxHP: 0,
      ram: 0,
      armory: 0,
      maxSlots: 0,
      maxCargo: 0,
      secteur: {
      	x: 0,
      	y: 0,
      	type: 'portal'
      },

    	ready: function() {
    		var self = this;
        setInterval(this.fetchStatsBot.bind(this), this.interval);
      },

      fetchStatsBot: function() {
        var self = this;
        this.$.api.getBot(function(err, res) {
        	if(res) {
            self.integrity = res.integrity;
            self.maxActions = res.max_actions;
            self.cpus = res.cpus;
            self.hp = res.hp;
            self.maxHP = res.max_hp;
            self.ram = res.ram;
            self.armory = res.armoring;
            self.maxSlots = res.max_slots;
            self.maxCargo = res.max_cargo;

            self.secteur.x = res.sector.x;
            self.secteur.y = res.sector.y;
            self.secteur.type = res.sector.type;
          }
      	});
      },

			_warpLoginHandler: function() {
				this.fetchStatsBot();
			}

    });
  </script>
</polymer-element>
