<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../warp-api/warp-api.html">

<polymer-element name="warp-bot-actionsBar" attributes="endpoint">
	<template>
		<link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
      polyfill-next-selector { content: ':host .hidden'; }
      ::content .hidden {
        display: none;
      }
    </style>
		<warp-api id="api" endpoint="{{endpoint}}"></warp-api>
		
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
		      <div class="panel-heading">
		        <h3 class="panel-title"><i class="fa fa-compass"></i> Move</h3>
		      </div>
		      <div class="panel-body">
		        <form class="form-horizontal" role="form">
		        	<div class="row {{ {hidden: !alert.hidden} }}">
		        		<div class="col-md-12">
		        			<div class="alert alert-danger">
		        				{{alert.message}}
		        			</div>
		        		</div>
		        	</div>
		          <div class="row">
		          	<div class="col-md-4">
		          		<button type="button" data-name-action="move" data-move-dir="NW" class="btn btn-default btn-block" on-click="{{MoveClickHandler}}">NW</button>
		          	</div>
		          	<div class="col-md-4">
		          		<button type="button" class="btn btn-default btn-block" data-name-action="move" data-move-dir="N" on-click="{{MoveClickHandler}}">N</button>
		          	</div>
		          	<div class="col-md-4">
		          		<button type="button" class="btn btn-default btn-block" data-name-action="move" data-move-dir="NE" on-click="{{MoveClickHandler}}">NE</button>
		          	</div>
		          </div>
		          <div class="row">
		          	<div class="col-md-4">
		          		<button type="button" class="btn btn-default btn-block" data-name-action="move" data-move-dir="W" on-click="{{MoveClickHandler}}">W</button>
		          	</div>
		          	<div class="col-md-4 text-center">
		          		<i class="fa fa-compass fa-3x"></i>
		          	</div>
		          	<div class="col-md-4">
		          		<button type="button" class="btn btn-default btn-block" data-name-action="move" data-move-dir="E" on-click="{{MoveClickHandler}}">E</button>
		          	</div>
		          </div>
		          <div class="row">
		          	<div class="col-md-4">
		          		<button type="button" class="btn btn-default btn-block" data-name-action="move" data-move-dir="SW" on-click="{{MoveClickHandler}}">SW</button>
		          	</div>
		          	<div class="col-md-4">
		          		<button type="button" class="btn btn-default btn-block" data-name-action="move" data-move-dir="S" on-click="{{MoveClickHandler}}">S</button>
		          	</div>
		          	<div class="col-md-4">
		          		<button type="button" class="btn btn-default btn-block" data-name-action="move" data-move-dir="SE" on-click="{{MoveClickHandler}}">SE</button>
		          	</div>
		          </div>
		        </form>
		      </div>
		    </div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<div class="well">
							<button class="btn btn-default"><i class="fa fa-crosshairs fa-fw"></i> Fight</button>
							<button class="btn btn-default"><i class="fa fa-bullseye fa-fw"></i> ScanBot</button>
						</div>
					</div>
					<div class="col-md-12">
						 <template repeat="{{s in CDs}}">
                {{s.k}}
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{s.p}}" aria-valuemin="0" aria-valuemax="60" style="width: {{s.p}}%">
                  {{s.p}}%
                  </div>
		            </div>
		          </template>
					</div>
				</div>
			</div>
		</div>

	</template>
	<script>
    Polymer({
    	
    	endpoint: '',
    	nameAction: '',
    	CDs: [],

    	ready: function() {
    		this.alert = {
          hidden: true,
          type: 'danger',
          message: ''
        };
        setInterval(this.cooldown_watcher.bind(this), 200);
      },

      MoveClickHandler: function(event, detail, sender) {
        var self = this;
        var dir = sender.dataset.moveDir;
        var today = new Date();

     		self.nameAction = "move";

        this.$.api.move("move", dir, function(err, res) {
          if (err) {
          	console.log(err);
          } else {          	
          	if (res.error) {
          		self.alert.message = res.error.message;
          		self.alert.hidden = false;
          	} else {
          		var CDtime = res.cooldown;
	          	var end_cooldown = new Date(today.getTime() + CDtime);
	          	
	          	self.cooldown_watcher(CDtime);
							
							self.CDs.push({
								k: self.nameAction, 
								end: end_cooldown, 
								v: CDtime, 
								p: 100
							});
          	}
          }
        });

      },

      cooldown_watcher: function() {
      	var self = this;
      	var time = new Date();
      			time = time.getTime();

      	self.CDs.forEach(function(obj) {
      		var lapse_time = obj.end.getTime() - time;
      		var time_left = obj.v - lapse_time;

      		if (time < obj.end.getTime()) {
      			var percent = Math.abs((lapse_time / obj.v) * 100);
      			obj.p = percent.toFixed(0);
      		} else {
      			// depiler du tableau
      			// TODO
      			var index = self.CDs.indexOf(obj);
      			if (index >= 0) {
      				self.CDs.splice(index, 1);
      			}
      		}
      	})

      }

    });
  </script>
</polymer-element>