<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../warp-api/warp-api.html">
<polymer-element name="warp-login" attributes="endpoint">
  <template>
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
      polyfill-next-selector { content: ':host .hidden'; }
      ::content .hidden {
        display: none;
      }
    </style>
    <warp-api id="api" endpoint="{{endpoint}}"></warp-api>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Warp - Identification</h3>
      </div>
      <div class="panel-body">
        <form role="form" class="{{ {hidden: loggedIn} | tokenList }}">
          <div class="form-group">
            <label for="nameInput">Identifiant</label>
            <input type="text" class="form-control" id="nameInput" value="{{name}}">
          </div>
          <div class="form-group">
            <label for="passwordInput">Mot de passe</label>
            <input type="password" class="form-control" id="passwordInput" value="{{password}}">
          </div>
        </form>
        <button id="login"
          class="btn btn-primary btn-block {{ {hidden: loggedIn} | tokenList }}"
          on-click="{{loginClickHandler}}">
          Se connecter
        </button>
        <button id="logout"
          class="btn btn-danger btn-block {{ {hidden: !loggedIn} | tokenList }}"
          on-click="{{logoutClickHandler}}">
          Se déconnecter
        </button>
      </div>
    </div>
  </template>
  <script>
    Polymer({

      loggedIn: false,
      name: '',
      password: '',

      ready: function() {
        this.loggedIn = this.$.api.isLoggedIn();
      },

      loginClickHandler: function() {
        var self = this;
        this.$.api.login(this.name, this.password, function(err, res) {
          self.loggedIn = self.$.api.isLoggedIn();
        });
      },

      logoutClickHandler: function() {
        this.$.api.logout();
        this.loggedIn = this.$.api.isLoggedIn();
      },

    });
  </script>
</polymer-element>