<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-xhr.html">
<link rel="import" href="../../bower_components/core-signals/core-signals.html">
<polymer-element name="warp-api" attributes="endpoint">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>
    <core-xhr id="xhr"></core-xhr>
    <core-signals id="signals"
      on-core-signal-warp-login="{{_loginSignalHandler}}"
      on-core-signal-warp-logout="{{_logoutSignalHandler}}"
      on-core-signal-warp-cooldowns="{{_cooldownWatcherHandler}}"
      on-core-signal-warp-bot-resume="{{_botResumeHandler}}"
      on-core-signal-warp-bot-scanbot="{{_actionWithoutParamsHandler}}">
    </core-signals>
  </template>
  <script>
    (function() {

      var _password;
      var _name;
      var _CDs;

      Polymer({

        endpoint: '',

        register: function(name, email, password, cb) {
          var opts = {
            service: '/account',
            data: {
              name: name,
              email: email,
              password: password
            }
          };
          this._post(opts, cb.bind(null, null));
          return this;
        },

        isLoggedIn: function() {
          return (_password && _name);
        },

        logout: function() {
          _name = null;
          _password = null;
          this.fire('warp-logout');
          this.fire('core-signal', {name: 'warp-logout'});
          return this;
        },

        login: function(name, password, cb) {
          _name = name;
          _password = password;
          var self = this;
          this._get({service: '/account'}, function(res) {
            if(res && !('error' in res)) {
              self.fire('warp-login');
              self.fire('core-signal', {
                name: 'warp-login',
                data: {
                  name: name,
                  password: password
                }
              });

              self._get({service: '/bot'}, function(res) {
                self.fire('core-signal', {
                  name: 'warp-bot-resume',
                  data: res
                });
              });

              return cb(null, res);
            } else {
              self.logout();
              return cb(res.error)
            }
          });
          return this;
        },

        move: function(name, data, cb) {
          var opts = {
            service: '/bot/actions',
            data: {
              name: name,
              params: {
                dir: data
              }
            }
          };
          var self = this;
          this._post(opts, function(res) {
            if(res && !('error' in res)) {
              var today = new Date();
              var CDtime = res.cooldown;
              var end_cooldown = new Date(today.getTime() + CDtime);

              var data = {
                k: res.action, 
                end: end_cooldown, 
                v: CDtime, 
                p: 100,
                tl: CDtime
              };

              self.fire('core-signal', {
                name: 'warp-cooldowns',
                data: {
                  CDs: data
                }
              });

              return cb(null, res);
            } else {
              return cb(res)
            }
          });
          return this;
        },

        actionsWithoutParams: function(name, cb) {
          var self = this;
          var opts = {
            service: '/bot/actions',
            data: {
              name: name
            }
          };
          this._post(opts, function(res) {
            if(res && !('error' in res)) {
              var today = new Date();
              var CDtime = res.cooldown;
              var end_cooldown = new Date(today.getTime() + CDtime);

              var data = {
                k: res.action, 
                end: end_cooldown, 
                v: CDtime, 
                p: 100,
                tl: CDtime
              };

              self.fire('core-signal', {
                name: 'warp-cooldowns',
                data: {
                  CDs: data
                }
              });

              self.fire('core-signal', {
                name: 'warp-bot-scanbot',
                data: {
                  bots: res.results
                }
              });

              return cb(null, res);
            } else {
              return cb(res)
            }
          });
        },

        getGameStatus: function(cb) {
          this._get({service: '/'}, cb.bind(null, null));
          return this;
        },

        getResumeBot: function(cb) {
          this._get({service: '/bot'}, cb.bind(null, null));
          return this;
        },

        _post: function(opts, cb) {
          opts = opts || {};
          opts.method = 'POST';
          return this._send(opts, cb);
        },

        _get: function(opts, cb) {
          opts = opts || {};
          opts.method = 'GET';
          return this._send(opts, cb);
        },

        _send: function(opts, cb) {
          cb = arguments[arguments.length-1];
          opts = opts || {};
          opts.headers = opts.headers || {}
          opts.headers['Content-Type'] = 'application/json';
          opts.headers['Authorization'] = 'Basic ' + btoa(_name + ':' + _password);
          if(!opts.method || opts.method.toLowerCase() === 'get') {
            opts.params = opts.data;
          } else {
            opts.body = JSON.stringify(opts.data);
          }
          opts.url = this.endpoint + opts.service;
          opts.responseType = 'json';
          opts.callback = cb;
          this.$.xhr.request(opts);
          return this;
        },

        _loginSignalHandler: function(evt, data) {
          _name = data.name;
          _password = data.password;
          this.fire('warp-login');
        },

        _logoutSignalHandler: function() {
          _name = null;
          _password = null;
          this.fire('warp-logout');
        },

        _cooldownWatcherHandler: function(evt, data) {
          this.fire('warp-cooldowns', {cds: data.CDs});
        },

        _botResumeHandler: function(evt, data) {
          this.fire('warp-bot-resume', {bot: data});
        },

        _actionWithoutParamsHandler: function(evt, data) {
          this.fire('warp-bot-scanbot', {bots: data});
        }

      });

    }())

  </script>
</polymer-element>
