<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-xhr.html">
<link rel="import" href="../../bower_components/core-signals/core-signals.html">
<polymer-element name="warp-api" attributes="endpoint"
  on-warp-login={{_warpLoginHandler}}
  on-warp-logout={{_warpLogoutHandler}}>
  <template>
    <style>
      :host {
        display: none;
      }
    </style>
    <core-xhr id="xhr"></core-xhr>
    <core-signals id="signals"
      on-core-signal-warp-api-broadcast="{{_warpApiBroadcastHandler}}"
      on-core-signal-warp-cooldowns="{{_cooldownWatcherHandler}}"
      on-core-signal-warp-bot-resume="{{_botResumeHandler}}"
      on-core-signal-warp-bot-scanbot="{{_actionWithoutParamsHandler}}">
    </core-signals>
  </template>
  <script>
    (function() {

      var _password;
      var _name;
      var _CDs;

      Polymer({

        endpoint: '',

        register: function(name, email, password, cb) {
          var opts = {
            service: '/account',
            data: {
              name: name,
              email: email,
              password: password
            }
          };
          this._post(opts, cb.bind(null, null));
          return this;
        },

        isLoggedIn: function() {
          return (_password && _name);
        },

        logout: function() {
          _name = null;
          _password = null;
          this._broadcast('warp-logout');
          return this;
        },

        login: function(name, password, cb) {

          _name = name;
          _password = password;

          var self = this;

          this._get({service: '/account'}, function(res) {

            if(res && !('error' in res)) {

              self._broadcast('warp-login', {
                name: name,
                password: password
              });

              return cb(null, res);

            } else {

              self.logout();

              return cb(res.error)

            }

          });

          return this;

        },

        doAction: function(name, params, cb) {

          // Si pas de params
          if(arguments.length === 2) {
            cb = arguments[arguments.length-1];
            params = undefined;
          }

          var reqOpts = {
            service: '/bot/actions',
            data: {
              name: name,
              params: params
            }
          };

          var self = this;

          this._post(reqOpts, function(res) {
            if(res && !('error' in res)) {

              self._broadcast('warp-action', res);
              return cb(null, res);

            } else {

              return cb(res);

            }

          });

          return this;
        },

        getGameStatus: function(cb) {
          this._get({service: '/'}, cb.bind(null, null));
          return this;
        },

        getBot: function(cb) {
          this._get({service: '/bot'}, cb.bind(null, null));
          return this;
        },

        _post: function(opts, cb) {
          opts = opts || {};
          opts.method = 'POST';
          return this._send(opts, cb);
        },

        _get: function(opts, cb) {
          opts = opts || {};
          opts.method = 'GET';
          return this._send(opts, cb);
        },

        _send: function(opts, cb) {
          cb = arguments[arguments.length-1];
          opts = opts || {};
          opts.headers = opts.headers || {}
          opts.headers['Content-Type'] = 'application/json';
          opts.headers['Authorization'] = 'Basic ' + btoa(_name + ':' + _password);
          if(!opts.method || opts.method.toLowerCase() === 'get') {
            opts.params = opts.data;
          } else {
            opts.body = JSON.stringify(opts.data);
          }
          opts.url = this.endpoint + opts.service;
          opts.responseType = 'json';
          var self = this;
          opts.callback = function(res, xhr) {
            console.log(xhr.getAllResponseHeaders());
            var responseHeaders = xhr.getAllResponseHeaders()
              .split('\n').reduce(function(obj, h) {
                var kv = h.split(':');
                if(kv[0] && kv[1]) obj[kv[0]] = kv[1];
                return obj;
              }, {});
            self._broadcast('warp-api-request', {
              request: {
                method: opts.method,
                url: opts.url,
                headers: opts.headers,
                body: opts.data,
                params: opts.params
              },
              response: {
                status: xhr.status,
                type: xhr.responseType,
                headers: responseHeaders,
                body: res
              }
            });
            if(typeof cb === 'function') {
              return cb.apply(null, arguments);
            }
          };
          this.$.xhr.request(opts);
          return this;
        },

        _broadcast: function(name, data) {
          this.asyncFire(name, data);
          this.asyncFire('core-signal', {
            name: 'warp-api-broadcast',
            data: {
              name: name,
              origin: this,
              payload: data
            }
          });
        },

        _warpApiBroadcastHandler: function(evt, data) {
          if(data.origin !== this) {
            this.asyncFire(data.name, data.payload);
          }
        },

        _warpLoginHandler: function(evt, data) {
          _name = data.name;
          _password = data.password;
        },

        _warpLogoutHandler: function() {
          _name = null;
          _password = null;
        }

      });

    }())

  </script>
</polymer-element>
